
.wrapper {
  width: 90%;
  max-width: 1280px;
  margin-inline: auto;
}

.logo {
  width: 15%;
}

.search-box {
  display: flex;
  align-items: center;
}

.search-box input {
  margin-left: 10px;
}

@media (max-width: 767px) {
  .search-box,
  .wishlist-button {
    display: none;
  }
  .header_top {
    width: 50%;
  }
  .footer_top{
    flex-wrap: wrap;
  }
}
/* Hide scrollbars for WebKit browsers (Chrome, Safari) */
.hide-scrollbars::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbars for Firefox */
.hide-scrollbars {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

