
.wrapper {
  width: 90%;
  max-width: 1280px;
  margin-inline: auto;
}

.logo {
  width: 15%;
}

.search-box {
  display: flex;
  align-items: center;
}

.search-box input {
  margin-left: 10px;
}

@media (max-width: 767px) {
  .search-box,
  .wishlist-button {
    display: none;
  }
  .header_top {
    width: 50%;
  }
  .footer_top{
    flex-wrap: wrap;
  }
}
/* Hide scrollbars for WebKit browsers (Chrome, Safari) */
.hide-scrollbars::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbars for Firefox */
.hide-scrollbars {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
*{
  font-family: "Quicksand", sans-serif;
}


.icon{
  color: blueviolet;
}
.icon :hover{
  color: greenyellow;
}

@media (max-width: 1476px) {
  .ml-custom-hide {
    margin-left: 0 !important;
  }
}

@media (max-width: 1476px) {
  .mr-custom-hide {
    margin-right: 0 !important;
  }
}

@media (max-width: 360px) {
  .display-block {
    display: none;
  }
}
@media (max-width: 916px) {
  .display-block916 {
    display: none;
  }
}
@media (max-width: 359px) {
  .cart-hidden {
    display: none;
  }
}

/* Hide scrollbar on Webkit browsers (Chrome, Safari, etc.) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar on other browsers */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
